body {
    background-color: bisque;
    font-family: 'Montserrat';
}

.logo-link-header {
    text-decoration: none;
    color: cornflowerblue;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 50px;
}

.logo-link-header:hover {
    color: red;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: #111111
}

.description {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: cornflowerblue
}

.list-item-link {
    text-decoration: none;
    color: plum;
    font-weight: 900;
    font-size: 30px;
}

.list-item-link:hover {
    color: red;
}

.unor-list {
    list-style: none;
    text-align: center;
    margin-top: 100px;
}

.chtoeto {
    color: red;
}

.lower-description {
    margin-top: 70px;
    font-weight: 900;
    color: red;
}