body {
  background: linear-gradient(to bottom right, rgba(1, 39, 255, 0.329), bisque);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat";
}

.header-logo {
.header-logo {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: 900;
  font-size: 50px;
  margin-right: 20px;
  margin-right: 20px;
}

.header-logo:hover {
  color: red;
}

header {
  margin-top: 80px;
header {
  margin-top: 80px;
  text-align: center;
}

.header-hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, bisque, rgba(1, 39, 255, 0.329));
}

main {
  padding: 0 20px;
}

h1 {
  text-align: center;
}

.header-hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, bisque, rgba(1, 39, 255, 0.329));
}

main {
  padding: 0 20px;
}

.list-item-link {
  text-decoration: none;
  color: plum;
  font-weight: 900;
  font-size: 30px;
}

.list-item-link:hover {
  color: red;
}

.unor-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 100px;
}

.lower-description {
  margin-top: 100px;
  font-weight: 900;
  color: red;
  font-size: 14px;
  text-align: center;
}

.list-item {
  margin-top: 15px;
}

.problem-link {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: 900;
  
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .list-item-link {
    font-size: 20px;
  }

  .lower-description {
    margin-top: 20px;
    font-size: 12px;
  }

  .header-logo {
    font-size: 30px;
    margin-right: 10px;
  }

  .header-hr {
    margin-top: 20px;
  }

  .list-item {
    margin-top: 10px;
  }
}