body {
  font-family: "Montserrat";
  background: linear-gradient(to bottom right, rgba(1, 39, 255, 0.329), bisque);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: plum;
  font-size: 32px;
  margin-top: 30px;
}

.header-logo {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: 900;
  font-size: 30px;
}

.header-logo:hover {
  color: red;
}

.header-hr {
  margin-top: 30px;
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, bisque, rgba(1, 39, 255, 0.329));
}

h2 {
  text-align: center;
  font-weight: 700;
  color: cornflowerblue;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
}

li {
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  font-size: 18px;
}

header {
  margin-top: 20px;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .header-logo {
      font-size: 24px;
  }

  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 18px;
  }

  li {
      font-size: 16px;
  }
}